$Cyan: hsl(179, 62%, 43%);
$Cyan1: hsl(179, 62%, 58%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

$Font-size: 16px;

$weight-md:400;
$weight-lg:700;
